@{
    ViewData["Title"] = "Home";
}
@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

<div class="home">
    <h1 class="text-center">Sistema Contable</h1>
    <p>Nuestro Sistema Contable está diseñado para ayudarte a gestionar tus finanzas de manera fácil, rápida y eficiente. Con esta herramienta, podrás llevar un control detallado de tus ingresos, gastos, ahorros, todo desde una interfaz amigable y accesible.</p>
</div>